{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Language</th>
                <th>Publisher</th>
                <th>Summary</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.language }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.summary }}</td>
                <td>{{ book.category }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">show</a>
                        </li>
                        {%if is_granted('ROLE_ADMIN')%}
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('book_delete_by_id', { 'id': book.id }) }}">delete</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
{% endblock %}
